* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color:white;
    padding: 1% 2%;
}

.center {
    width: 200px; 
    height: auto; 
    transform: scale(1.2); 
    transition: transform 0.3s ease; 
}

.responsive-logo {
  width: 100%;  
  max-width: 35%; 
  height: auto;  
}

@media (min-width: 768px) { 
  .responsive-logo {
      max-width: 20%;  
  }
}

@media (min-width: 992px) { 
  .responsive-logo {
      max-width: 20%;  
  }

  .custom-width {
    width: 30%;
  }
}

@media (min-width: 1200px) {  
  .responsive-logo {
      max-width: 22%; 
  }
}

/* Opcional: para hacer que vuelva a su tamaño original al pasar el mouse */
.center:hover {
  transform: scale(1.3); /* Un poco más grande al pasar el mouse */
}
